<h1>Dolgozók</h1>

<div>

    <label for="">Név</label>
    <input class= "form-control" type="text" [(ngModel)]="fullname"><br>

    <label for="">Település</label>
    <input class= "form-control" type="text" [(ngModel)]="city"><br>

    <label for="">Fizetés</label>
    <input class= "form-control" type="text" [(ngModel)]="salary"><br>

    <button (click)="addButton()"
    class="btn btn-primary"
    >Hozzáad</button>

    <p></p>

</div>

<table class="table">
    <tr *ngFor ="let  employee of employees">
            <td>{{employee.id}}</td>
            <td>{{employee.fullname}}</td>
            <td>{{employee.city}}</td>
            <td>{{employee.salary}}</td>

    </tr>

</table>